{% extends "blog/base.html" %}

{% block title %} Dashboard {% endblock title %} 

{% block content %}
<head>
    <header> 
        <h1>Dashboard</h1>
        <!-- <div class="content-section">
            <h3>Graph will be here</h3>
        </div> -->
    </header>
</head>
{% load static %}
<script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
<script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.charts.js' %}"></script>
<script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.fusion.js' %}"></script>
<body>
    <div class id="myFirstchart-container">{{ output|safe }}</div>
</body>
<p>{{singlebardict}}</p>
<script>
    var dataSource_bar = {
        chart:{
            caption: "Testing bar chart",
            subcaption: "for the year 2018",
            yaxisname: "District",
            xaxisname: "Year",
            decimals:"1",
            theme: "fusion"
        },
        data:[
            // {% for key, value in singlebardict.items %} 

            {
                label:"Baling",
                value:35.6
            },
            // {% endfor %}
        ]
    };

// FusionCharts.ready(function() {
//     var myChart = new FusionCharts({
//         type: "column2d",
//         renderAt: "bar_chart",
//         width:"100%",
//         height:"100%",
//         dataFormat: "json",
//         dataSource:dataSource_bar, 
//     }).render();
// });
</script>

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <!-- <script type="text/javascript" src="jquery-1.9.1.min.js"></script> -->
    <!-- <script type="text/javascript" src="script.js"></script> -->
{% endblock javascripts %}